<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">   
    <title><%- title %></title><%# render no app, chama por objeto e retorna aqui %> 
</head>
<body>
    <div class="container"><%# esse é o formato que meu conteudo é lido e chega ao usuario %> 
        <header>
            <%- include('../partials/header.ejs') %> 
        </header>
        <main>
            <h1> Este é o conteúdo do layouts.ejs </h1>
            <%- include('../index.ejs') %>           
    
    <%# inclusão no app.js na rota pagina inicial (res.render) de section %> 
    <h1><%- section%> </h1>
    <% body%><%# vem do app.js da rota, exemplo let conteudo %> 
    
    <div class="conteudo">
        <%- divContem %> 
    </div>
        </main>

        <footer>
           <%- include('../partials/footer.ejs')%>
        </footer>
    </div>
    
   
</body>
</html>